<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="../../assets/heroimage.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-light textposition">
                <h5 class="specialtext">Ristorante Il Gambero Rosso</h5>
                <p>Delivering gread food for more than 18 years</p>
                <div>
                    <p class="btn btn-success mx-4">Our Menu</p>
                    <p class="btn btn-success">Book a table</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container w-75">
    <h1 class="specialtext p-5 text-center">Ristorante Il Gambero Rosso</h1>
    <div class="row pb-5">
        <div class="row col col-5">
            <img src="../../assets/home.jpg" alt="">
        </div>
        <div class="col col-7">
            <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, ipsa.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, quisquam! Quod quia voluptatum qui odio labore saepe, nulla magnam doloremque.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur iure earum harum repudiandae placeat quisquam.</p>
            <li>
                <ul>Lorem ipsum dolor sit amet consectetur adipisicing elit.</ul>
            </li>
            <li>
                <ul>Lorem ipsum dolor sit amet consectetur adipisicing elit.</ul>
            </li>
            <li>
                <ul>Lorem ipsum dolor sit amet consectetur adipisicing elit.</ul>
            </li>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum temporibus at sapiente vitae, reiciendis accusamus ad alias, dicta voluptate ut possimus exercitationem veritatis sint est unde tenetur id dolor deleniti.</p>
        </div>
    </div>
</div>
<div class="bg-light pt-5 pb-5">
    <div class="text-center pb-3">
        <h1 class="specialtext">Why choose us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quam voluptates praesentium, eos magnam veritatis.</p>
    </div>
    <div class="row row-cols-4 justify-content-center">
        <div>
            <p>01</p>
            <h4>Lorem ipsum dolor sit.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus perferendis, pariatur ipsam consectetur nemo corporis.</p>
        </div>
        <div>
            <p>02</p>
            <h4>Lorem ipsum dolor sit.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus perferendis, pariatur ipsam consectetur nemo corporis.</p>
        </div>
        <div>
            <p>03</p>
            <h4>Lorem ipsum dolor sit.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus perferendis, pariatur ipsam consectetur nemo corporis.</p>
        </div>

    </div>
</div>
<div class="container w-75">
    <div class="text-center pb-4">
        <h1 class="specialtext pt-5">Check our specials</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus necessitatibus molestiae ducimus suscipit delectus consectetur!</p>
    </div>
    <div class="row pb-5">
        <div class="col col-3 text-center align-self-center rounded">
            <p class="text-light bg-primary rounded p-1">Lorem, ipsum dolor.</p>
            <p class="text-primary p-1">Lorem, ipsum dolor.</p>
            <p class="text-primary p-1">Lorem, ipsum dolor.</p>
            <p class="text-primary p-1">Lorem, ipsum dolor.</p>
            <p class="text-primary p-1">Lorem, ipsum dolor.</p>
        </div>
        <div class="col col-6">
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique harum fugiat, nesciunt sapiente maxime voluptatem repudiandae maiores quos deleniti delectus?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nulla explicabo distinctio. Exercitationem illum, quisquam repudiandae quam cupiditate odit quod laudantium magnam iure voluptatum blanditiis incidunt explicabo delectus quas,fugit
                odio, sequi suscipit dicta. Perferendis neque natus incidunt numquam nihil rerum eius sed ipsam, sapiente tempore quam. Aut, ab deleniti!</p>
        </div>
        <div class="col col-3"><img src="../../assets/home2.jpg" alt=""></div>
    </div>
</div>